* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  letter-spacing: 0.1rem;
}
body {
  background-color: var(--secondary-color);
  overflow-x: hidden;
}
button {
  border: none;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
:root {
  --main-color: #395353;
  --secondary-color: #f6f4ef;
  --accent-color: #b99f5a;
  --svg-border-color: #b9a05a9a;
  --serif-font: 'Caveat', cursive;
  --sans-serif-font: 'Montserrat', serif;
  --passus-font-color: #132430;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(3rem);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.show {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: all !important;
  transform: translateY(0rem) !important;
}
.module {
  color: #444;
  font-family: var(--sans-serif-font);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}
.caption {
  font-family: var(--serif-font);
  font-size: 8rem;
  font-weight: 500;
  padding-bottom: 2.3rem;
  padding-top: 0.3rem;
  color: var(--main-color);
}
.passus {
  font-size: 1.8rem;
  color: var(--passus-font-color);
  font-family: var(--sans-serif-font);
  font-weight: 500;
  width: 63rem;
  text-align: center;
}
.component {
  /* width: clamp(50%, 70rem, 70%); */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}

/* IMG animation */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Mobile navigation */
.mobile-nav-btns {
  position: absolute;
  right: 10rem;
  top: 3rem;
}
.mobile-nav-btns > * {
  cursor: pointer;
  position: absolute;
  /* top: 0; */
}
.mobile-nav-menu > *,
.mobile-nav-close > * {
  height: 6rem;
  width: auto;
  fill: var(--secondary-color);
}
/* Styling CSS */

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 1rem;
}
header {
  background: linear-gradient(rgba(78, 78, 78, 0.25), rgba(145, 40, 40, 0.25)),
    url(../img/cabinbg.webp) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}
header h1 {
  font-family: var(--serif-font);
  font-size: 13rem;
  letter-spacing: 0.2rem;
  color: var(--secondary-color);
}
nav {
  width: 100%;
  height: 8.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: absolute;
  color: var(--secondary-color);
  font-family: var(--sans-serif-font);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 0rem 10rem;
  padding-top: 5rem;
}
.nav-btn {
  display: flex;
  gap: 3rem;
}
.nav-img {
  width: 20rem;
  height: auto;
  /* Center logo: */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3rem;
}
nav img {
  height: 110%;
}
.nav-lang-contact {
  height: inherit;
  display: flex;
  align-items: inherit;
  gap: 3rem;
}
.nav-lang {
  height: inherit;
  display: flex;
  align-items: inherit;
  gap: 1rem;
}
.nav-lang a {
  height: 33%;
}
.nav-contact {
  display: flex;
  align-items: inherit;
  gap: 2rem;
}
.phone {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.reserve-btn {
  color: var(--secondary-color);
  background: var(--main-color);
  font-family: var(--sans-serif-font);
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.75rem 1.2rem;
  letter-spacing: 0.1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.reserve-btn-svg,
.phone-svg {
  fill: var(--secondary-color);
  height: 2.5rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  gap: 4rem;
}
.carousel {
  width: 100%;
  height: 60rem;
  padding: 1rem;
}
.swiper {
  width: inherit;
  height: inherit;
  border-radius: 2rem;
}
.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button {
  color: var(--secondary-color) !important;
  padding: 2.5rem;
}
.swiper-pagination-bullet {
  background-color: var(--secondary-color) !important;
}
.icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  width: 60%;
  padding: 3rem 0;
  padding-bottom: 6rem;
}
.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  font-family: var(--sans-serif-font);
}
.cell-svg-wrapper {
  padding: 1rem;
  border-radius: 50%;
  border: 0.1rem solid var(--svg-border-color);
}
.cell-svg {
  fill: var(--accent-color);
  height: 4rem;
  width: auto;
}
.cell-h {
  color: var(--main-color);
  font-family: var(--serif-font);
  font-size: 2.8rem;
  font-weight: 500;
}
.cell-p {
  text-align: center;
  color: var(--passus-font-color);
  font-size: 1.6rem;
  font-weight: 500;
}
.location-wrapper {
  padding: 1rem;
  width: 100%;
}
.location-1 {
  border-radius: 2rem;
  justify-content: center;
  display: flex;
  gap: 3rem;
}
.location {
  background-color: var(--main-color);
  overflow: hidden;
  padding: 3rem;
  border-radius: 2rem;
}
.gmap {
  border-radius: 2rem;
  height: 100%;
}
.location .component {
  align-items: initial;
  padding: 0;
  /* padding-top: 3rem; */
}
.location .module,
.location .caption,
.location .passus {
  color: var(--secondary-color);
  text-align: initial;
}
.location-flex {
  display: flex;
  gap: 3rem;
  background-color: #344b4b;
  border-radius: 2rem;
  padding: 3rem;
  margin-top: 7rem;
}
.location-flex .cell-p {
  padding: 0 2rem;
}
.alternative {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}
.cell-h .alternative {
  font-size: 1.6rem;
}
.location-img-slider-wrapper {
  padding-top: 8rem;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.location-img-slider {
  display: inline-block;
  padding: 3rem 0;
  gap: 5rem;
  animation: 27s slide infinite linear;
  padding: 6rem 0;
}
.location-img-slider-wrapper img {
  height: 51rem;
  width: 34rem;
  object-fit: cover;
  border-radius: 2rem;
  margin: 0 3rem;
}
.up {
  transform: translateY(-2.5%);
}
.down {
  transform: translateY(2.5%);
}
.weather {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--passus-font-color);
  font-family: var(--sans-serif-font);
  text-transform: uppercase;
  gap: 3rem;
  margin-top: -4rem;
  background-color: #e2e1dc;
  padding: 3rem 5rem;
  border-radius: 2rem;
}
.today {
  display: flex;
  align-items: center;
  color: var(--accent-color);
}
.today .weather-temp {
  font-size: 3rem;
}
.weather-cell {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.weather-icon img {
  height: 12rem;
}
.contact-wrapper {
  width: 100%;
  padding: 1rem;
  padding-top: 7rem;
}
.contact,
.contact-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--secondary-color);
  font-weight: 500;
  font-family: var(--sans-serif-font);
  font-size: 1.6rem;
}
.contact {
  border-radius: 2rem 2rem 0 0;
  background-color: var(--main-color);
  padding: 9rem 11rem;
  justify-content: space-between;
  position: relative;
}
.contact-adress-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.contact-adress {
  line-height: 2.8rem;
}
.contact-bottom {
  background-color: #203030;
  border-radius: 0 0 2rem 2rem;
  padding: 1rem;
}
.contact-component-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.contact-svg {
  padding: 1rem;
  border-radius: 50%;
  border: 0.1rem solid #446161;
  fill: var(--secondary-color);
}
.contact-wrapper {
  position: relative;
}

.contact-adress-div {
  top: 12rem;
  color: var(--secondary-color);
  font-family: var(--sans-serif-font);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
}
.other-days {
  display: flex;
}

/* Responsive CSS */
@media only screen and (max-width: 1500px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 1270px) {
  html {
    font-size: 49%;
  }
  .location .caption {
    font-size: 7rem;
  }
}
@media only screen and (max-width: 1130px) {
  html {
    font-size: 43%;
  }
  .location-1 {
    flex-direction: column;
    justify-content: center;
  }
  .map > * {
    width: 100%;
    height: 50rem;
  }
  .location .component {
    align-items: center;
  }
  .location .component .passus {
    text-align: center;
  }
}
@media only screen and (max-width: 1000px) {
  nav {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .component,
  .icon-grid {
    width: 90%;
  }
  .component .passus {
    width: 85%;
  }
  .location .component {
    width: 100%;
  }
  .icon-grid {
    grid-template-columns: 1fr 1fr;
  }
  .mobile-nav-btns {
    visibility: visible !important;
    opacity: 1 !important;
    pointer-events: all !important;
    z-index: 3;
  }
  .carousel {
    height: 50rem;
  }
  nav,
  .nav-btn,
  .nav-lang-contact,
  .nav-contact {
    flex-direction: column;
    gap: 4rem;
  }
  .nav-lang {
    max-height: 10rem;
  }
  nav {
    background-color: red;
    height: 110%;
    top: -10%;
    width: 110%;
    align-items: center;
    justify-content: center;
    padding-top: 21rem;
    gap: 4rem;
    padding-top: 34rem;
    font-size: 2.4rem;
    /* padding-left: 60%; */
    touch-action: none;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 2;
  }
}
@media only screen and (max-width: 800px) {
  .contact {
    flex-direction: column;
    padding-top: 30rem;
    gap: 3rem;
    padding-bottom: 3rem;
  }
  .component {
    padding: 0;
    padding-top: 1rem;
  }
  .location-img-slider-wrapper img {
    height: 45rem;
    width: 30rem;
  }
  .caption,
  .location .caption {
    text-align: center;
    font-size: 6rem;
  }
  .icon-grid {
    padding-bottom: 0;
    gap: 0;
    column-gap: 1rem;
    row-gap: 2rem;
  }
  .location-1 {
    gap: 1rem;
  }
  .location-flex {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  .merge {
    grid-column: 1/ 3;
  }
  .location-img-slider {
    padding: 0;
    padding-bottom: 1.5rem;
  }
  .contact-wrapper {
    padding-top: 3rem;
  }
  .contact-bottom {
    font-size: 1.4rem;
  }
  main {
    gap: 1rem;
    padding-top: 1rem;
  }
  .today {
    justify-content: center;
  }
  .weather {
    flex-direction: column;
    margin-top: 0;
  }
  .other-days {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    column-gap: 1rem;
  }
  header h1 {
    text-align: center;
    font-size: 11rem;
  }
}
@media only screen and (max-width: 550px) {
  .header-wrapper {
    height: 70vh;
  }
  header h1 {
    font-size: 9rem;
  }
}
